*~
*.pyc
*.swp

build/
dist/
*.egg-info/
*.egg
.eggs/
.snakemake*
.venv
.venv/*
.python-version


.pytest*
.cache
.mypy_cache
.ipynb*
.vscode
.ropeproject
.test*
data/**
logs/**
workflow/reports/**
config/samplesheet.tsv
config/sample_illumina.tsv
config/sample_nanopore.tsv
config/sra.tsv
config/config.yml

resources/**
results/**
